@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

$oice-red: #E94F4F;
$oice-blue: #0097E8;
$oice-green: #16A122;
$oice-gray: #353343;

.page {
  padding: 0 24px;
  overflow: hidden;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;

  object-fit: contain;
}

.section-title {
  margin: 24px 0;
  font-size: 2.5em;
  line-height: 1.3;

  color: #4a4a4a;
}

.section-image {
  margin-bottom: 24px;
}

.banner {
  width: 566px;
  height: 493px;

  margin-top: 24px;
}

@media (max-width: 600px) {
  .section-title {
    margin: 12px 0;
  }

  .banner {
    width: 100%;
    height: 100%;
  }
}

h4, ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

section > div {
  max-width: 1244px;
  margin: 0 auto;
}
