@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600,700");

$oice-red: #E94F4F;
$oice-blue: #0097E8;
$oice-green: #16A122;
$oice-gray: #353343;

$like-white: #ffffff;

$like-gray-1: #f7f7f7;
$like-gray-2: #f4f4f4;
$like-gray-3: #d8d8d8;

$like-gray-4: #737373;

$like-light-blue: #d4eff1;
$like-dark-blue: #2a666c;

$like-brown: #714b29;
$like-dark-brown: #462405;

$like-red: #fc5757;

h1 {
  letter-spacing: -0.4px;

  color: $like-dark-brown;

  font-size: 42px;
  font-weight: 300;
  line-height: 1.21;
}

h2 {
  color: $like-dark-brown;

  font-size: 24px;
  font-weight: bold;
  line-height: 1.38;
}


img {
  user-select: none;

  -webkit-user-drag: none;
  user-drag: none;
  object-fit: contain;
}

.section-title-wrapper {
  display: inline-block;

  padding: 0 80px;

  text-align: center;

  background-color: $like-light-blue;

  > .title {
    letter-spacing: -0.3px;

    color: $like-dark-brown;

    font-size: 32px;
    line-height: 48px;
  }
}
